# Node modules
/node_modules
/.pnp
.pnp.js

# Build outputs
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase service account (caso tenha no repositório)
*.json

# Editor config (exemplos)
.vscode/
.idea/

# Coverage reports
/coverage

# Outros arquivos temporários
*.log
